/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body{
    margin-top: 70px;
    font-family:"Trebuchet MS";   
}

.citylocation {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}


/*
    Navbar
*/

/*.brand
{
  background: url(img/brand/revela_logo.png) no-repeat left center;
  height: 20px;
  width: 100px;
}*/
.navbar-nav.navbar-right {
    padding: 20px;
}

.navbar-nav.navbar-right>li {
    padding: 5px;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px;
}

.city-image{
    overflow: hidden;
    width: 100%;
    height: 620px;
}

#brand-logo{
  width: 130px;
  box-shadow: 4px 4px 2px lightgrey;
}

.navbar{
  min-height: 75px;
}

#footer-divider{
    color: lightgrey;
    height: 65px;
    width: 100%;
    display:block;
}


.userrole-dropdown{
    -webkit-appearance: menulist-button;
    font-size: 25px;
    height: 50px;
    left: 70%;
    color: #777;
    line-height: 40px;
    position: absolute;
    vertical-align: middle;
    text-align: center;
    top: 230px;
    width: 300px;  
    padding: 5px; 
}

.revelatabs{
    font-size: 25px;
    width: 75%;
    margin: 0 auto;
    color: #777;
}

.nav-tabs>li.active>span, .nav-tabs>li.active>span:hover, .nav-tabs>li.active>span:focus{
    color: #fff;
    cursor: pointer;
    background-color: #EC6134;
    border: 1px solid #ddd;
    border-bottom-color: transparent;     
}

.revtab{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid #D6D6D6;
    border-radius: 15px 15px 0 0; 
    cursor: pointer;
}

#revelatabspage{
    color: lightgrey;
    height: 550px;
    width: 100%;
    display:block;   
}

#selecttitle{
    font-size: 40px;
    height: 50px;
    left: 60%;
    color: #fff;
    line-height: 40px;
    position: absolute;
    top: 230px;
    width: 300px;
    padding: 5px;
}

/*
    Puzzle Pieces
*/

.top-piece {
    /* margin-top: 250px; */
    width: 0;
    height: 0;
    border-left: 400px solid transparent;
    border-right: 400px solid transparent;
    border-bottom: 120px solid #6699FF;
    margin: 0 auto;    
    margin-top: 50px;
}

.top-piece-oval {
    width: 100px;
    height: 100px;
    background: #6699FF;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 0 auto;  
    margin-top: -50px;
}
	