/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body{
    margin-top: 120px;
    font-family:"Trebuchet MS";   
}

.citylocation {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}


/*
    Navbar
*/

/*.brand
{
  background: url(img/brand/revela_logo.png) no-repeat left center;
  height: 20px;
  width: 100px;
}*/

.city-image{
    overflow: hidden;
    width: 100%;
}

#brand-logo{
  width: 120px;
}

.navbar{
  min-height: 120px;
}