/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body{
    margin-top: 70px;
    font-family: 'Arvo', serif;   
}

.citylocation {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}


/*
    Navbar
*/

.navbar-nav.navbar-right {
    padding: 20px;
}

.navbar-nav.navbar-right>li {
    padding: 5px;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px;
}

.city-image{
    overflow: hidden;
    width: 100%;
    height: 620px;
}

#brand-logo{
  width: 130px;
  box-shadow: 4px 4px 2px lightgrey;
}

.navbar{
  min-height: 75px;
}

/*
    Tabs
*/

#footer-divider{
    color: lightgrey;
    height: 65px;
    width: 100%;
    display:block;
}


.userrole-dropdown{
    -webkit-appearance: menulist-button;
    font-size: 25px;
    height: 50px;
    left: 70%;
    color: #777;
    line-height: 40px;
    position: absolute;
    vertical-align: middle;
    text-align: center;
    top: 230px;
    width: 300px;  
    padding: 5px; 
}

.revelatabs{
    font-size: 25px;
    width: 75%;
    margin: 0 auto;
    color: #777;
}

.nav-tabs>li.active>span, .nav-tabs>li.active>span:hover, .nav-tabs>li.active>span:focus{
    color: #fff;
    cursor: pointer;
    background-color: #EC6134;
    border: 1px solid #ddd;
    border-bottom-color: transparent;     
}

.revtab{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid #fff;
    border-radius: 15px 15px 0 0; 
    cursor: pointer;
    background-color: #E6E6E6;
}

#revelatabspage{
    color: lightgrey;
    height: 500px;
    width: 100%;
    display:block;   
}

#selecttitle{
    font-size: 80px;
    height: 50px;
    left: 50%;
    color: #fff;
    line-height: 40px;
    position: absolute;
    top: 225px;
    width: 300px;
    padding: 5px;
}

/*
    Puzzle Pieces
*/

.puzzle-container{
    margin-left: 120px;
    width: 800px;
}


.jigsaw1 {
  font-size: 50px; 
  width: 6em;
  height: 6em;
  margin: 50px;
  position: relative;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  float: left;
}

.jigsaw1,
.jigsaw1 span {
 background-color: #B8DBFF; 
}


.jigsaw1 .t {
 width: 2em;
  height: 2em;
  position: absolute;
  top: -1.5em;
  left: 2em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
}

.jigsaw1 .r {
 width: 2em;
  height: 2em;
  position: absolute;
  top: 2em;
  left: 5.5em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
}

.jigsaw1 .b { 
 width: 1.8em;
  height: 1.8em;
  position: absolute;
  top: 4.5em;
  left: 2.2em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
  background-color: #fff;
}

.jigsaw1 .l { 
 width: 1.8em;
  height: 1.8em;
  position: absolute;
  top: 2.2em;
  left: -.4em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
  background-color: #fff;
}

.jigsaw2 {
 font-size: 50px; 
  width: 6em;
  height: 6em;
  margin: 50px;
  position: relative;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
 float: left;
}

.jigsaw2,
.jigsaw2 span {
 background-color: #EC6134; 
}

.jigsaw2 .t {
 width: 2em;
  height: 2em;
  position: absolute;
  top: -1.5em;
  left: 2em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
}

.jigsaw2 .r {
 width: 2em;
  height: 2em;
  position: absolute;
  top: 2em;
  left: 5.5em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
}

.jigsaw2 .b { 
 width: 1.8em;
  height: 1.8em;
  position: absolute;
  top: 4.5em;
  left: 2.2em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
  background-color: #fff;
}

.jigsaw2 .l { 
 width: 1.8em;
  height: 1.8em;
  position: absolute;
  top: 2.2em;
  left: -.4em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
  background-color: #fff;
}


.jigsaw3 {
 font-size: 50px; 
  width: 6em;
  height: 6em;
  margin: 50px;
  position: relative;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
 float: left;
 z-index: -1;
}

.jigsaw3,
.jigsaw3 span {
 background-color: #C0C0C0; 
}

.jigsaw3 .t {
 width: 2em;
  height: 2em;
  position: absolute;
  top: -1.5em;
  left: 2em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
}

.jigsaw3 .r {
 width: 2em;
  height: 2em;
  position: absolute;
  top: 2em;
  left: 5.5em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
}

.jigsaw3 .b { 
 width: 1.8em;
  height: 1.8em;
  position: absolute;
  top: 4.5em;
  left: 2.2em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
  background-color: #fff;
}

.jigsaw3 .l { 
 width: 1.8em;
  height: 1.8em;
  position: absolute;
  top: 2.2em;
  left: -.4em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
  background-color: #fff;
}

.jigsaw4 {
 z-index: -1;
 font-size: 50px; 
  width: 6em;
  height: 6em;
  margin: 50px;
  position: relative;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
 float: left;
}

.jigsaw4,
.jigsaw4 span {
 background-color: #CCFF66; 
}

.jigsaw4 .t {
 width: 2em;
  height: 2em;
  position: absolute;
  top: -1.5em;
  left: 2em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
}

.jigsaw4 .r {
 width: 2em;
  height: 2em;
  position: absolute;
  top: 2em;
  left: 5.5em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
}

.jigsaw4 .b { 
 width: 1.8em;
  height: 1.8em;
  position: absolute;
  top: 4.5em;
  left: 2.2em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
  background-color: #fff;
}

.jigsaw4 .l { 
 width: 1.8em;
  height: 1.8em;
  position: absolute;
  top: 2.2em;
  left: -.4em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
  background-color: #fff;
}

.puzzle-container .top{
    z-index: -1;
}

.puzzle-text{
    width: 300px;
    height: 200px;
    font-size: 25px;
    line-height: 100%;
    padding: 65px;
    color: #464646;
    display: table-cell;
    vertical-align:middle;
    text-align:center;
}


