<div class="city-image" >
    <select class="userrole-dropdown" data-ng-model="userRole" data-ng-change="changeUserRole()" data-ng-options="role.name for role in userRoles"></select>   
    <img data-ng-src="{{currentcity ? currentcity : 'img/cities/New_York.png'}}">
</div>

<div id="footer-divider"></div>

<div id="revelatabspage">
    <ul class="nav nav-tabs revelatabs" role="tablist">
      <li data-ng-class="{ active : userRole.name=='Tenant'}" data-ng-click="userRole=userRoles[0]"><span class="revtab">Tenant</span></li>
      <li data-ng-class="{ active : userRole.name=='Property Manager'}" data-ng-click="userRole=userRoles[2]"><span class="revtab">Property Manager</span></li>
      <li data-ng-class="{ active : userRole.name=='Property Owner'}" data-ng-click="userRole=userRoles[3]"><span class="revtab">Property Owner</span></li>
      <li data-ng-class="{ active : userRole.name=='Service' }" data-ng-click="userRole=userRoles[1]"><span class="revtab" >Service</span></li>
    </ul>
</div>    