<script>
$( document ).ready(function() {
    
    var currenth = 0;
    
    $(".revtab").click(function(){
          $(".puzzle-text").fadeOut(500); 
          $(".puzzle-text").fadeIn(1000); 
    });
    
    
    $( "#revelatabspage" ).mouseenter(function() {
        if(currenth !== 50){
            $( ".jigsaw1" ).animate({ "left": "+=50px" }, "slow" );
            $( ".jigsaw4" ).animate({ "left": "-=50px" }, "slow" );
            $( ".jigsaw2" ).animate({ "left": "+=50px" }, "slow" );
            $( ".jigsaw3" ).animate({ "left": "-=50px" }, "slow" ); 
            $( ".jigsaw2" ).animate({ "top": "-=105px" }, "slow" );
            $( ".jigsaw3" ).animate({ "top": "-=105px" }, "slow" );
            currenth = 50;
        }       
    });
    
    $( "#revelatabspage" ).mouseleave(function() {
        if(currenth === 50){
            $( ".jigsaw1" ).animate({ "left": "-=50px" }, "slow" );
            $( ".jigsaw4" ).animate({ "left": "+=50px" }, "slow" ); 
            $( ".jigsaw2" ).animate({ "left": "-=50px" }, "slow" );
            $( ".jigsaw3" ).animate({ "left": "+=50px" }, "slow" );
            $( ".jigsaw2" ).animate({ "top": "+=105px" }, "slow" );
            $( ".jigsaw3" ).animate({ "top": "+=105px" }, "slow" );            

            currenth = 0;
        }
    });    
});
</script>


<div class="city-image" >
    <span id="selecttitle">I'm a</span>
    <select class="userrole-dropdown" data-ng-model="userRole" data-ng-change="changeUserRole()" data-ng-options="role.name for role in userRoles"></select>   
    <img data-ng-src="{{currentcity ? currentcity : 'img/cities/New_York.png'}}">
</div>

<div id="footer-divider"></div>

<div id="revelatabspage">
    <ul class="nav nav-tabs revelatabs" role="tablist">
      <li data-ng-class="{ active : userRole.name==userRoles[0].name}" data-ng-click="userRole=userRoles[0]"><span class="revtab" data-ng-bind="userRoles[0].name"></span></li>
      <li data-ng-class="{ active : userRole.name==userRoles[2].name}" data-ng-click="userRole=userRoles[2]"><span class="revtab" data-ng-bind="userRoles[2].name">Property Manager</span></li>
      <li data-ng-class="{ active : userRole.name==userRoles[3].name}" data-ng-click="userRole=userRoles[3]"><span class="revtab" data-ng-bind="userRoles[3].name">Property Owner</span></li>
      <li data-ng-class="{ active : userRole.name==userRoles[1].name}" data-ng-click="userRole=userRoles[1]"><span class="revtab" data-ng-bind="userRoles[1].name">Service</span></li>
    </ul>

    <div class="puzzle-container top">
        <div class="jigsaw1">
          <span data-ng-bind="userRole.msg1" class="puzzle-text"></span>            
          <span class="r"></span>
          <span class="b"></span>
        </div>  
        <div class="jigsaw4"> 
          <span data-ng-bind="userRole.msg2" class="puzzle-text"></span>   
          <span class="l"></span>
          <span class="b"></span>
        </div>
    </div>
    <div class="puzzle-container bottom">
        <div class="jigsaw2">
          <span data-ng-bind="userRole.msg3" class="puzzle-text"></span>   
          <span class="t"></span>
          <span class="r"></span>
        </div> 

        <div class="jigsaw3"> 
          <span data-ng-bind="userRole.msg4" class="puzzle-text"></span>  
          <span class="l"></span>
          <span class="t"></span>          
        </div>
    </div>
    

<div align="center" class="revlavideocontainer">
            <video width="820" height="640" controls>
                <source src="media/movie.mp4" type="video/mp4">
                <source src="media/movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
            </video>
        </div>
</div>

