<!-- Nav tabs -->
<ul class="nav nav-tabs revelatabs" role="tablist">
  <li class="active"><a href="#!" role="tab" data-toggle="tab">Tenants</a></li>
  <li><a href="#!/profile" role="tab" data-toggle="tab">Property Managers</a></li>
  <li><a href="#!/messages" role="tab" data-toggle="tab">Property Owners</a></li>
  <li><a href="#!/settings" role="tab" data-toggle="tab">Service</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content revelatabs">
  <div class="tab-pane active" id="home">...</div>
  <div class="tab-pane" id="profile">...</div>
  <div class="tab-pane" id="messages">...</div>
  <div class="tab-pane" id="settings">...</div>
</div>